body{
  margin: 0;
  padding: 0;
  background-color: rgb(220, 255, 255);
}

:root{
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, p, label{
  color: rgb(0, 50, 50);
}

header{
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 3cm;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(80, 80, 80);
}

header h1{
  margin: 0 auto;
}

header img{
  width: 80%;
}

#login{
  height: 100vh;
  text-align: center;
}

form div{
  margin: 20px;
  width: 25%;
}

label{
  font-size: 20px;
}

input{
  border: 2px solid black;
  border-radius: 10px;
}

#login input, button{
  height: 1cm;
  width: 100%;
  font-size: 0.5cm;
}

button{
  border: 2px solid transparent;
  background-color: rgb(0, 120, 180);
  color: white;
  width: 25%;
  border-radius: 20px;
}

#login button{
  width: 50%;
  margin: 0.5cm auto;
}

#botonesEmpresas{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 20%;
  min-width: 200px;
  margin: 10px 0;
}

.ficha div{
  display: flex;
  gap: 10px;
  margin: 0.5cm 0;
}

#botonesEmpresas button{
  width: 50%;
}

#borrar{
  background-color: red;
}

#borrar:hover{
  background-color: rgb(180, 0, 0);
  border-color: black
}

button:hover{
  background-color: rgb(0, 100, 150);
  border-color: black
}

.listado{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  justify-content: center;
}

.tarjeta{
  background-color: rgb(255, 255, 255);
  width: 300px;
  min-height: 300px;
  padding: 10px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 2px rgb(80, 80, 80);
}

.tarjeta:hover{
  border-color: rgb(100, 200, 200);
}

.tarjeta img, .ficha img{
  max-height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgb(80, 80, 80);
}

.ficha{
  width: 50%;
  margin: 1cm auto;
  border: 2px solid transparent;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgb(80, 80, 80);
  padding: 1cm;
}

#admin{
  padding: 20px;
}

.ficha a{
  text-decoration: underline;
  font-weight: bold;
  color: rgb(100, 0, 0);
}

a, link{
  color: black;
  text-decoration: none;
}

.empresa, nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.empresa h3, .empresa h2{
  width: 25%;
}

.empresa:nth-child(even), nav{
  background-color: rgb(180, 220, 255);
}